/* List.css */

.expense-list-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.total-expenses {
  margin-bottom: 20px;
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.expense-item {
  margin-bottom: 10px;
  padding: 15px; /* Adjust the padding as needed */
  border-radius: 5px;
  color: #080808; /* Ensure text color contrasts with background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Optional: add smooth transition for background color */
}

.expense-item-title {
  font-weight: bold;
}

.expense-item-amount {
  color: #000000;
}

.expense-item-details {
  margin-top: 10px;
}

.owes-container {
  margin-top: 10px;
}

.owes-item {
  margin-bottom: 5px;
}

.expense-item-buttons {
  margin-top: 10px;
}

.expense-item-edit,
.expense-item-delete {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.expense-item-edit {
  background-color: #4CAF50;
  color: white;
}

.expense-item-delete {
  background-color: #f44336;
  color: white;
}
